<div class="searchbox">
  <form method="get" id="searchie" action="http://duckduckgo.com/">
    <input type="hidden" name="sites" value="{{ site.blog.search_path }}"/>
    <input type="hidden" name="k8" value="#444444"/>
    <input type="hidden" name="k9" value="#D51920"/>
    <input type="hidden" name="kt" value="h"/>
    <span class="icon-search"></span>
    <input type="search" name="q" maxlength="255" placeholder="Search&hellip;"/>
    <!-- <input type="button"/> -->
  </form>
</div>
