<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<title>{% if page.title == "Blog" %}{{ site.blog.title }} <!-- &middot; --> {{ site.tagline }}{% else %}{% if page.tag %}{{ site.data.tags[page.tag].name }}{% else %}{{ page.title }}{% endif %} &#9642; {{ site.blog.title }}{% endif %}</title>
<!--{% if page.description %}
{% capture desc %}{{ page.description }}{:.message}{% endcapture %}
<meta name="description" content="{{ desc | markdownify | strip_html | truncatewords: 50 }}">
{% else %}{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html | truncatewords: 50 }}">
{% endif %}{% endif %}-->


<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.blog.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

{% if page.title %} {% assign title = page.title ~ ' - ' ~ page.subtitle %} {% else %} {% assign title = site.blog.title %} {% endif %}
{% if page.description %} {% assign description = page.description %} {% else %} {% assign description = site.blog.description %} {% endif %}
{% if page.keywords %} {% assign keywords = page.keywords %} {% else %} {% assign keywords = site.keywords %} {% endif %}
{% if page.cover %} {% assign cover = page.cover %} {% else %} {% assign cover = site.cover %} {% endif %}

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ site.url }}{{ cover }}" />

<!-- Google plus -->
<meta name="author" content="{{ site.author.googleplus }}">
<link rel="author" href="{{ site.author.googleplus }}">

<!-- Open Graph -->
<meta property="og:locale" content="{{ site.lang }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.blog.title }}">

<!-- Styles -->
<link rel="stylesheet" href="{{ "assets/vendor/normalize-css/normalize.css" | relative_url }}">
<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">

{% if site.blog.load_google_fonts %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ site.blog.load_google_fonts }}">
<style>
    html {
      font-family: {{ site.blog.font }};
    }
</style>
{% endif %}

{% if site.blog.inline_footnotes == true %}
<link rel="stylesheet" href="{{ "assets/css/bf.css" | relative_url }}">
{% endif %}
