{% assign post = include.post %}

<article class="post">

  {% if site.blog.hero_layout == true %}
  {% include utils/hero.html %}
  {% endif %}

  <!-- Post title (& hero image) container -->
  <div class="post-title-container
  {% if site.blog.hero_layout == true %}
  {{ post.url | remove: '/posts/' }} {{ post.url | remove: '/posts/' }}-bleed-container bleed-hero-container
    {% else %}
  no-hero-margin
  {% endif %}">
    <!--Post hero image source-->
    {% if site.blog.hero_layout == true %}
      {% if post.source-img %}
      <div class="post-source-img">
        <span class="source-text">source: </span>
        <span class="source"><a href="{{ post.source-img }}">{{ post.source-img }}</a></span>
      </div>
      {% endif %}
    {% endif %}
    <!-- Post title -->
    <div class="heading-container {% if site.blog.hero_layout == true %}hero-heading hero-heading-post{% endif %}">
      <h1>
        {% if post.link != nil %}
        <a href="{{ post.link }}" title="{{ post.title }}" target="_blank">
        {% endif %}
          {{ post.title }}
        {% if post.link != nil %}
        &rarr; </a>
        {% endif %}
      </h1>
    <!-- Post meta -->
      <div class="post-meta">
        <span>{{ post.date | date: "%d/%m/%Y" }}</span>
        <!-- {% include utils/date_custom.html date = post.date %} -->
        <span>
          {% for tag in post.tags %}
              <a href="{{ 'tag/' | relative_url }}{{ tag }}">#{{ tag }}</a>
          {% endfor %}
        </span>
      </div>
    </div>
  </div>

    <!-- Post content -->
    {{ post.content | remove: '&lt;!–-break-–&gt;' }}
</article>
